@model IEnumerable<HomeFinder.Models.RealEstate>
@{
    int numOfRooms = 1;
    int maxLivingArea = 0;
    int maxPrice = 0;
    foreach (var realestate in Model)
    {
        if(realestate.NumberOfRooms > numOfRooms)
        {
            numOfRooms = realestate.NumberOfRooms;
        }     
        if(realestate.LivingArea > maxLivingArea)
        {
            maxLivingArea = realestate.LivingArea;
        }
        if(realestate.Price > maxPrice)
        {
            maxPrice = realestate.Price;
        }
    }
}
<script type="text/javascript">
    function EnableDisable(chbox, id) {
        var disablechange = document.getElementById(id);
        disablechange.disabled = chbox.checked ? false : true;
        if (!disablechange.disabled) {
            disablechange.focus();
        }
    }
</script>
<form asp-action="Index">
<div class="jumbotron align-items-center">
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h2>Advanced Search options</h2>
        </div>
    </div>
    <div class="container my-3">
        <div class="row d-flex justify-content-center">
            <div class="col-4 my-3">
                <input type="text" name="searchTerm" placeholder="Search for Adress..."/>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
             <div class="col-4">
                <div class="m-1">
                    <h5> Set Min Price </h5>
                    <input id="minpriceslide" type="range" name="minSlide" min="0" max="@maxPrice" value="2500000" step="50000" disabled="disabled" oninput="minpricetext.value=minpriceslide.value"/>
                    <input type="checkbox" id="checkboxTest" name="checkbox" value="true" onclick="EnableDisable(this, minpriceslide.id)"/>
                </div>
                <div class="m-1">
                    <input id="minpricetext" type="number" value="2500000" min="0" max="@maxPrice" oninput="minpriceslide.value=minpricetext.value" readonly/>
                </div>
            </div>
            <div class="col-4">
                <div class="m-1">
                    <h5> Set Max Price </h5>
                    <input id="maxpriceslide" type="range" name="maxSlide" min="0" max="@maxPrice" value="2500000" step="50000" disabled="disabled" oninput="maxpricetext.value=maxpriceslide.value"/>
                    <input type="checkbox" id="checkboxTest" name="checkbox" value="true" onclick="EnableDisable(this, maxpriceslide.id)"/>
                </div>
                <div class="m-1">
                    <input id="maxpricetext" type="number" value="2500000" min="0" max="@maxPrice" oninput="maxpriceslide.value=maxpricetext.value" readonly/>
                </div>
            </div>
        </div>

        <div class="row my-3 d-flex justify-content-center">
             <div class="col-4">
                <div class="m-1">
                    <h5> Set Min Living Area (kvm) </h5>
                    <input id="minLivingArea" type="range" name="minLivingSlide" min="0" max="@maxLivingArea" value="75" step="5" disabled="disabled" oninput="minLivingtext.value=minLivingArea.value"/>
                    <input type="checkbox" id="checkboxTest" name="checkbox" value="true" onclick="EnableDisable(this, minLivingArea.id)"/>
                </div>
                <div class="m-1">
                    <input id="minLivingtext" type="number" value="75" min="0" max="@maxLivingArea" oninput="minLivingArea.value=minLivingtext.value" readonly/>
                </div>
            </div>

            <div class="col-4">
                <div class="m-1">
                    <h5> Select form of lease</h5>
                    <Select name="RealEstateType" id="RealEstateType">
                        <option value="@null">Alla</option>
                        <option value="@RealEstateTypes.Hus">Hus</option>
                        <option value="@RealEstateTypes.Lägenhet">Lägenhet</option>
                        <option value="@RealEstateTypes.Gård">Gård</option>
                    </Select>
                </div>
            </div>
        </div>

        <div class="row my-3 d-flex justify-content-center">
            <div class="col-4">
                <div class="m-1">
                    <h5> Select Min number of rooms </h5>
                    <Select name="NumberOfRooms" id="NumberOfRooms">
                    @for (int i = 1; i <= numOfRooms; i++)
                    {
                            <option>@i</option>
                    }
                    </Select>
                </div>
            </div>

            <div class="col-4">
                <div class="m-1">
                    <h5> Select Max age on house</h5>
                    <Select name="Ålderpåhus" id="Ålderpåhus">
                        <option>Ingen</option>
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                        <option>50</option>
                    </Select>
                </div>
            </div>
        </div>
        <div class="row my-5 d-flex justify-content-center">
            <div class="col-3">
                <input type="submit" value="Apply filters" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</div>
</div>
</form>