@model HomeFinder.Models.RealEstate

@{ 
    ViewData["Title"] = "Details";
}

@{

    string mapUri = new Uri($"https://maps.google.com/maps?q={Model.Address}&output=embed").AbsoluteUri;
}


<h2>Details for @Model.Address</h2>
<div class="row">
    <div class="col">
        <div class="card">
            <img src="@Model.CoverPictureURL" class="details-card-img" />
            <div class="card-body">
                <div class="row">
                    <div class="col-4" id="object-description">
                        <div>
                            <h5 class="mb-3">@Model.Address</h5>
                            <p>(Description) @Model.Description</p>
                        </div>
                        <div>
	                        <a asp-area="" asp-controller="" asp-action="">
		                        <input type="button" class="btn btn-primary" value="Register interest" />
	                        </a>
                        </div>
                    </div>
                    <div class="col-8">
                        <h5 style="border-bottom: 2px solid black">About</h5>
                        <div class="row">
                            <div class="col">
                                <table class="table table-borderless">
                                    <tr class="table-row-underlined">
                                        <th>Address</th>
                                        <td>@Model.Address</td>
                                    </tr>
                                    <tr class="table-row-underlined">
                                        <th>Form of lease</th>
                                        <td>@Model.RealEstateType</td>
                                    </tr>
                                    <tr class="table-row-underlined">
                                        <th>Rooms</th>
                                        <td>@Model.NumberOfRooms</td>
                                    </tr>
                                    <tr class="table-row-underlined">
                                        <th>Living Area</th>
                                        <td>@Model.LivingArea m<sup>2</sup></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col">
                                <table class="table table-borderless">
                                    <tr class="table-row-underlined">
                                        <th>Construction year</th>
                                        <td>@Model.ConstructionYear.Year</td>
                                    </tr>
                                    <tr class="table-row-underlined">
                                        <th>Show date</th>
                                        <td>@Model.ShowDate.ToString("d")</td>
                                    </tr>
                                    <tr class="table-row-underlined">
                                        <th>Price</th>
                                        <td>@Model.Price.ToString("c")</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <iframe id="map"
                                src=@mapUri
                                style="border:0"                            
                                loading="lazy">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>