@model IEnumerable<HomeFinder.Models.RealEstate>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Objekt";
}

@{
    int maxPrice = 0;
    foreach (var realestate in Model)
    {
        if(realestate.Price > maxPrice)
        {
            maxPrice = realestate.Price;
        }
    }
}

@{
    string SetStarIconClass(int realEstateId)
    {
        var user = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        if (user != null)
        {
            var favourites = ViewBag.Favourites as IEnumerable<Favourite>;
            var userFavourites = favourites.Where(f => f.UserId == user);
            foreach (var item in userFavourites)
            {
                if (item.RealEstateId == realEstateId)
                {
                    return "fa-solid";
                }
            }
        }
        return "fa-regular";
    }

    string SetLoginPromptClass()
    {
        var user = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        if (user == null)
        {
            return "login-modal";
        }
        return "";
    }
}

    <script type="text/javascript">
        function EnableDisable(chbox, id) {
            var disablechange = document.getElementById(id);
            disablechange.disabled = chbox.checked ? false : true;
            if (!disablechange.disabled) {
                disablechange.focus();
            }
        }
    </script>

<div class="alternate-container">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="search-header">HITTA DITT NYA <span class="primary-color">HEM</span></span>
        <div class="d-flex flex-column search-container w-50 align-items-center mt-2">
            <form asp-controller="gallery" asp-action="Index" class="w-50">

                <div class="d-flex flex-column align-items-center justify-content-center mt-2 flex-lg-row">
                    <div class="mr-2">
                        <label for="house" class="accomodation-type-checkbox text-center housetype-button" id="house-button">HUS</label>
                        <input type="checkbox" id="house" name="realEstateType" value="0" class="hide-checkbox" onclick="toggleClick(0)"/>
                    </div>
                    <div class="mr-2">
                        <label for="apartment" class="accomodation-type-checkbox text-center housetype-button" id="apartment-button">LÄGENHET</label>
                        <input type="checkbox" id="apartment" name="realEstateType" value="1" class="hide-checkbox" onclick="toggleClick(1)"/>
                    </div>
                    <div>
                        <label for="farm" class="accomodation-type-checkbox text-center housetype-button" id="farm-button">GÅRD</label>
                        <input type="checkbox" id="farm" name="realEstateType" value="2" class="hide-checkbox" onclick="toggleClick(2)"/>     
                    </div>
                </div>

                <input type="text" name="searchTerm" id="search-field"  class="w-100" placeholder="Sök efter område, adress eller annat nyckelord"/>
               
                <div class="d-flex flex-column flex-nowrap">
                    <div class="row flex-nowrap">
                        <div class="w-50 mr-1 flex-nowrap">
                            <div class="m-1 text-center">
                                <span class="price-text">Min. pris</span>
                            </div>
                            <div class="align-center">
                                <input id="minpriceslide" type="range" name="minSlide" min="0" max="@maxPrice" value="0" step="50000" oninput="minpricetext.value=minpriceslide.value"/>
                            </div>
                            <div class="align-center">
                                <input id="minpricetext" type="number" min="0" max="@maxPrice" step="50000" oninput="minpriceslide.value=minpricetext.value" placeholder="250 000 kr"/>
                            </div>
                        </div>
                        
                        <div class="w-50 ml-1 flex-nowrap">
                            <div class="m-1 text-center">
                                <span class="price-text">Max. pris</span>
                            </div>
                            <div class="align-center">
                                <input id="maxpriceslide" type="range" name="maxSlide" min="0" max="@maxPrice" value="0" step="50000" oninput="maxpricetext.value=maxpriceslide.value"/>
                            </div>
                            <div class="align-center">
                                <input id="maxpricetext" type="number" min="0" max="@maxPrice" step="50000" oninput="maxpriceslide.value=maxpricetext.value" placeholder="10 000 000 kr"/>
                            </div>
                        </div>
                    </div>
                </div>
            
            
                <div class="d-flex flex-column justify-content-center flex-lg-row justify-content-lg-between ml-lg-4 mr-lg-4">
                    <div class="mt-3">
                        <input type="submit" value="SÖK" class="btn button-primary"/>
                    </div>
                    <div class="mt-3">
                        <input value="RENSA FILTER" name="removeFilter" type="submit" class="btn secondary-button"/>
                    </div>
                </div>
                <div class="d-flex justify-content-center mb-1 mt-3">
                    <a asp-controller="Gallery" asp-action="AdvSearch" class="advanced-search-link">AVANCERAD SÖK</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div class="row mr-2 ml-2 mt-2">
    @foreach (var realEstate in Model)
    {
        <div class="col-sm-4">
            <div class="card my-3 gallery-card">
                <a class="a-cleanup" asp-controller="Gallery" asp-action="Details" asp-route-id="@realEstate.Id">
                    <div class="card-img-container">
                        <img src="@realEstate.CoverPictureURL" class="card-img-top card-img-custom" />
                        <form asp-action="HandleFavourite" asp-controller="Favourites" method="POST" data-ajax="true">
                            @Html.Hidden("RealEstateId", @realEstate.Id)
                            <button class="favourite-button btn-rounded @SetLoginPromptClass()" type="submit"><i class="@SetStarIconClass(@realEstate.Id) fa-star float-right" style="color: gold;"></i></button>
                        </form>
                    </div>
                    <div class="card-body" style="height: 6em">
                        <h5>@realEstate.Address</h5>
                        <h5><small class="text-muted">@realEstate.City</small></h5>
                        <span class="card-text">@realEstate.NumberOfRooms rum</span>
                        <span class="card-text">@realEstate.LivingArea kvm</span>
                    </div>
                    <div class="card-body">
                        <span class="card-text">@realEstate.Price.ToString("c")</span>
                        <span>
                            @if (realEstate.RealEstateType == RealEstateTypes.Hus)
                            {
                                <i class="fa-solid fa-house float-right"></i>
                            }
                            else if (realEstate.RealEstateType == RealEstateTypes.Lägenhet)
                            {
                                <i class="fa-regular fa-building float-right"></i>
                            }
                            else if (realEstate.RealEstateType == RealEstateTypes.Gård)
                            {
                                <i class="fa-solid fa-tree-city float-right"></i>
                            }
                            else
                            {
                                <i class="fa-regular fa-circle-question float-right"></i>
                            }


                        </span>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
<div class="modal" id="login-prompt-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h3 class="modal-title text-center pb-3">Logga in</h3>
            <div class="modal-body">
                @await Html.PartialAsync("_LoginPartialView", new LoginVm())
          
                <div class="text-center text-muted pb-2">eller logga in med sociala medier</div>
                <div class="d-flex justify-content-center">

                <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Url.Action("Index", "Gallery")">
		            <div class="social-media-buttons">
                        <button type="submit" class="btn btn-secondary btn-rounded" name="provider" value="Google" title="Login using Google">
                            <i class="fab fa-google"></i>
                        </button>
			            <button type="submit" class="btn btn-secondary btn-rounded" name="provider" value="Facebook" title="Login using Facebook">
                            <i class="fab fa-facebook"></i>
                        </button>
                    </div>
	            </form>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div>Saknar du konto?
                    <a class ="text-info" asp-area="" asp-controller="Account" asp-action="Register">Skapa konto</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Gallery.js"></script>
}
