@model IEnumerable<HomeFinder.Models.RealEstate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index">
    <div class="m-1">
            <input type="text" name="searchTerm" placeholder="Search for..."/>
            <input type="submit" value="Filter" class="btn btn-primary"/>
    </div>
</form>
<form asp-action="Index">
    <div class="m-1">
         <h5> Set Max Price </h5>
        <input id="maxpriceslide" type="range" name="maxSlide" min="0" max="10000000" value="2500000" step="50000" oninput="maxpricetext.value=maxpriceslide.value"/>
    </div>
    <div class="m-1">
        <input id="maxpricetext" type="number" value="2500000" min="0" max="10000000" oninput="maxpriceslide.value=maxpricetext.value" readonly/>
    </div>
</form>
<form asp-action="Index">
    <div class="m-1">
            <input value="Remove filter" type="submit" class="btn btn-danger"/>
    </div>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormOfLease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivingArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConstructionYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowDate)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.RealEstateType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormOfLease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivingArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealEstateType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
